{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/weapontuner/elementconfig_h.png",
			"fileBody": "/interface/scripted/weapontuner/elementconfig_body.png",
			"fileFooter": "/interface/scripted/weapontuner/elementconfig_f.png"
		},
		"craftButton": {
			"type": "button",
			"position": [68, 158],
			"base": "/interface/scripted/weapontuner/craft.png",
			"hover": "/interface/scripted/weapontuner/crafthover.png",
			"callback": "craftButton",
			"visible": true,
			"disabled": true
		},
		"fire": {
			"type": "button",
			"position": [87, 14],
			"base": "/interface/scripted/weapontuner/fire.png",
			"hover": "/interface/scripted/weapontuner/firehover.png",
			"callback": "selectElement",
			"visible": true,
			"disabled": false
		},
		"ice": {
			"type": "button",
			"position": [66, 14],
			"base": "/interface/scripted/weapontuner/ice.png",
			"hover": "/interface/scripted/weapontuner/icehover.png",
			"callback": "selectElement",
			"visible": true,
			"disabled": false
		},
		"poison": {
			"type": "button",
			"position": [45, 14],
			"base": "/interface/scripted/weapontuner/poison.png",
			"hover": "/interface/scripted/weapontuner/poisonhover.png",
			"callback": "selectElement",
			"visible": true,
			"disabled": false
		},
		"electric": {
			"type": "button",
			"position": [24, 14],
			"base": "/interface/scripted/weapontuner/electric.png",
			"hover": "/interface/scripted/weapontuner/electrichover.png",
			"callback": "selectElement",
			"visible": true,
			"disabled": false
		},
		"physical": {
			"type": "button",
			"position": [4, 14],
			"base": "/interface/scripted/weapontuner/physical.png",
			"hover": "/interface/scripted/weapontuner/physicalhover.png",
			"callback": "selectElement",
			"visible": true,
			"disabled": false
		},
    "selection": {
      "type": "image",
      "zLevel": 1,
      "file": "/interface/scripted/weapontuner/highlight.png",
      "position": [0, 0],
      "visible" : false,
      "mouseTransparent" : true
    },
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [96, 186]
		},
		"lblPrice": {
			"type": "label",
			"position": [4, 160],
			"hAnchor": "left",
			"wrapWidth": 70,
			"value": "^#b9b5b2;FUEL:       x 1"
		},
		"lblText": {
			"type": "label",
			"position": [54, 142],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"value": "^#b9b5b2;Place weapon in the slot."
		},
		"lblError": {
			"type": "label",
			"position": [54, 35],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 7,
			"value": ""
		},
		"moneyIcon": {
			"type": "image",
			"position": [24, 158],
			"file": "/items/liquids/liquidanophium.png"
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [46, 78],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/empty.png"
		},
		"overlay": {
			"type": "image",
			"file": "/interface/scripted/weapontuner/elementconfig_shine.png",
			"position": [0, 0]
		}
	},
	"scriptWidgetCallbacks": [
		"craftButton",
		"selectElement"
	],
  "highlightOffset" : [-2, -2],
	"scripts": [
		"/interface/scripted/weapontuner/elementconfiggui.lua"
	],
	"scriptDelta": 1
}