{
	"gui": {
		"windowtitle": {
			"type": "title",
			"title": "  ANOPHIUM PRINTER",
			"subtitle": "  Make various things from anophium.",
			"position": [0, 252],
			"icon": {
				"type": "image",
				"file": "/interface/crafting/kyaniauicon.png",
				"position": [0, -20],
				"zlevel": -1
			}
		},
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/anophiumupgrade/anophiumupgrade_h.png",
			"fileBody": "/interface/scripted/anophiumupgrade/anophiumupgrade_body.png",
			"fileFooter": "/interface/scripted/anophiumupgrade/elementconfig_f.png"
		},
		"craftButton": {
			"type": "button",
			"position": [44, 14],
			"base": "/interface/scripted/anophiumupgrade/craft.png",
			"hover": "/interface/scripted/anophiumupgrade/crafthover.png",
			"callback": "craftButton",
			"visible": true,
			"disabled": true
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [26, 99],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/scripted/anophiumupgrade/weaponll.png"
		},
		"lblError": {
			"type": "label",
			"position": [73, 42],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 8,
			"value": ""
		},
		"lblTimer": {
			"type": "label",
			"position": [73, 44],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 8,
			"value": ""
		},
		"lblPrice": {
			"type": "label",
			"position": [73, 56],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 7,
			"value": ""
		},
		"workingInput": {
			"type": "image",
			"file": "/interface/objectcrafting/working.png",
			"position": [26, 99],
			"visible": false,
			"zlevel": 10
		},
		"workingOutput": {
			"type": "image",
			"file": "/interface/objectcrafting/working.png",
			"position": [102, 99],
			"visible": false,
			"zlevel": 10
		},
		"workingFuel": {
			"type": "image",
			"file": "/interface/objectcrafting/working.png",
			"position": [62, 99],
			"visible": false,
			"zlevel": 10
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [131, 187]
		},
		"lblText": {
			"type": "label",
			"position": [72, 134],
			"hAnchor": "mid",
			"wrapWidth": 125,
			"value": "^#d99000;Place weapon and required upgrade parts according slots to upgrade"
		},
		"itemGrid2": {
			"type": "itemgrid",
			"slotOffset": 1,
			"position": [62, 99],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/scripted/anophiumupgrade/partsslot.png"
		},
		"outputItemGrid": {
			"type": "itemgrid",
			"slotOffset": 2,
			"position": [102, 99],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/scripted/anophiumupgrade/weaponhl.png"
		},
		"overlay": {
			"type": "image",
			"file": "/interface/objectcrafting/campfire_shine.png",
			"position": [-14, 7]
		}
	},
	"scriptWidgetCallbacks": [
		"craftButton"
	],
	"scripts": [
		"/interface/scripted/anophiumupgrade/weaponupgradegui.lua"
	],
	"scriptDelta": 1
}