{
	"gui": {
		"windowtitle": {
			"type": "title",
			"title": "  ANOPHIUM PRINTER",
			"subtitle": "  Make various things from anophium.",
			"position": [0, 252],
			"icon": {
				"type": "image",
				"file": "/interface/crafting/kyaniaficon.png",
				"position": [0, -20],
				"zlevel": -1
			}
		},
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/anophiumprinter/anophiumprinter_h.png",
			"fileBody": "/interface/scripted/anophiumprinter/anophiumprinter_body.png",
			"fileFooter": "/interface/scripted/anophiumprinter/elementconfig_f.png"
		},
		"craftButton": {
			"type": "button",
			"position": [26, 30],
			"base": "/interface/scripted/anophiumprinter/craft.png",
			"hover": "/interface/scripted/anophiumprinter/crafthover.png",
			"callback": "craftButton",
			"visible": true,
			"disabled": true
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [47, 68],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/scripted/anophiumprinter/sampleslot.png"
		},
		"lblError": {
			"type": "label",
			"position": [57, 10],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 7,
			"value": ""
		},
		"lblTimer": {
			"type": "label",
			"position": [50, 10],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 7,
			"value": ""
		},
		"lblPrice": {
			"type": "label",
			"position": [57, 45],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 7,
			"value": ""
		},
		"workingInput": {
			"type": "image",
			"file": "/interface/objectcrafting/working.png",
			"position": [47, 68],
			"visible": false,
			"zlevel": 10
		},
		"workingOutput": {
			"type": "image",
			"file": "/interface/objectcrafting/working.png",
			"position": [80, 68],
			"visible": false,
			"zlevel": 10
		},
		"workingFuel": {
			"type": "image",
			"file": "/interface/objectcrafting/working.png",
			"position": [14, 68],
			"visible": false,
			"zlevel": 10
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [123, 105]
		},
		"lblText": {
			"type": "label",
			"position": [58, 100],
			"hAnchor": "mid",
			"wrapWidth": 125,
			"value": "^#d99000;Place items and anophium
in according slots 
to duplicate"
		},
		"itemGrid2": {
			"type": "itemgrid",
			"slotOffset": 1,
			"position": [14, 68],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/scripted/anophiumprinter/anophiumslot.png"
		},
		"outputItemGrid": {
			"type": "itemgrid",
			"slotOffset": 2,
			"position": [80, 68],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/inventory/empty.png"
		},
		"overlay": {
			"type": "image",
			"file": "/interface/objectcrafting/campfire_shine.png",
			"position": [-20, 20]
		}
	},
	"scriptWidgetCallbacks": [
		"craftButton"
	],
	"scripts": [
		"/interface/scripted/anophiumprinter/printerconfiggui.lua"
	],
	"scriptDelta": 1
}