{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/objectcrafting/anoconv_header.png",
			"fileBody": "/interface/objectcrafting/anoconv_body.png",
			"fileFooter": "/interface/objectcrafting/anoconv_footer.png"
		},
		"craftButton": {
			"type": "button",
			"position": [42, 36],
			"base": "/interface/objectcrafting/convert.png",
			"hover": "/interface/objectcrafting/convertover.png",
			"callback": "craftButton",
			"caption": "Convert"
		},
		"itemGrid": {
			"type": "itemgrid",
			"position": [40, 54],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/objectcrafting/blockslot.png"
		},
		"lblError": {
			"type": "label",
			"position": [70, 25],
			"hAnchor": "mid",
			"wrapWidth": 180,
			"fontSize": 7,
			"value": ""
		},
		"workingInput" : {
			"type" : "image",
			"file" : "/interface/objectcrafting/working.png",
			"position" : [40, 54],
			"visible" : false,
			"zlevel" : 10
		},
		"workingOutput" : {
			"type" : "image",
			"file" : "/interface/objectcrafting/working.png",
			"position" : [76, 54],
			"visible" : false,
			"zlevel" : 10
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [123, 105]
		},
		"lblText": {
			"type": "label",
			"position": [70, 78],
			"hAnchor": "mid",
			"wrapWidth": 125,
			"value": "^#d99000;Place blocks in the left slot to convert into anophium."
		},
		"outputItemGrid": {
			"type": "itemgrid",
			"slotOffset": 1,
			"position": [76, 54],
			"dimensions": [1, 1],
			"spacing": [19, 19],
			"backingImage": "/interface/objectcrafting/anophiumslot.png"
		},
		"pointer": {
			"type": "image",
			"position": [62, 57],
			"file": "/interface/objectcrafting/arrow.png"
		},
		"overlay": {
			"type": "image",
			"file": "/interface/objectcrafting/campfire_shine.png",
			"position": [-20, 20]
		}
	},
	"scriptWidgetCallbacks": [
		"craftButton"
	],
	"scripts": ["/interface/objectcrafting/anophiumconverter.lua"],
	"scriptDelta": 1
}